{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "ie": "11"
            }
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],

      "exclude": "node_modules/**",
      "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-static-block",
        "@babel/plugin-proposal-private-property-in-object",
        [
          "module-resolver",
          {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
          }
        ]
      ]
    },
    "test": {
      "sourceMap": "inline",
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-typescript",
        ["@babel/preset-react", { "runtime": "automatic" }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-static-block",
        "@babel/plugin-proposal-private-property-in-object"
      ]
    }
  }
}
