{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "ie": "11"
            }
          }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
      ],
      "exclude": "node_modules/**",
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-static-block"
      ]
    },
    "test": {
      "sourceMap" : "inline",
      "presets":  [        
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-typescript",
        ["@babel/preset-react", {"runtime": "automatic"}]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-class-static-block"
      ]
    }
  }
}
